@import './styles/fonts.css';

* {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
}

#container {
    margin: 64px auto;
    width: 80%;
}

form > * {
    display: block;
}

form > input[type='text'] {
    border: none;
    outline: none;

    width: 384px;
    height: 32px;
    padding: 0 16px;
    max-width: 100%;

    border-bottom: 1px solid black;
}

form > *:not(:last-child) {
    margin-bottom: 16px;
}

#task-list li {
    line-height: 1.5;
}