#formulario .colunas {
  display: flex;
}

#formulario header {
  margin-bottom: 128px;
}

#formulario form,
#formulario #previa {
  flex: 1;
}

#formulario #modal-contra-o-sistema-metrico-estadunidense {
  display: none;

  /* https://codepen.io/pigparlor/pen/wvMBPvO */
  background: repeating-linear-gradient(
    -45deg,
    var(--turbo),
    var(--turbo) 15px,
    var(--dracula-orchid) 15px,
    var(--dracula-orchid) 30px
  );
  border-radius: 4px;

  width: 48.75%;
  padding: 8px;

  margin-bottom: 64px;
}

#formulario #modal-contra-o-sistema-metrico-estadunidense #conteudo-modal-contra-o-sistema-metrico-estadunidense {
  background-color: white;
  padding: 24px;

  flex-direction: column;
  display: flex;
  flex: 1;
}

#formulario #modal-contra-o-sistema-metrico-estadunidense #conteudo-modal-contra-o-sistema-metrico-estadunidense #cabecalho-modal-contra-o-sistema-metrico-estadunidense {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  display: flex;

  margin-bottom: 16px;
}

#formulario #modal-contra-o-sistema-metrico-estadunidense #conteudo-modal-contra-o-sistema-metrico-estadunidense #cabecalho-modal-contra-o-sistema-metrico-estadunidense img {
  width:  64px;
  height: 64px;

  margin-right: 16px;
}

#formulario #modal-contra-o-sistema-metrico-estadunidense #conteudo-modal-contra-o-sistema-metrico-estadunidense #cabecalho-modal-contra-o-sistema-metrico-estadunidense span {
  font-family: 'Fredoka One';
  color: var(--dracula-orchid);
  font-size: 300%;

  text-transform: uppercase;
}

#formulario #modal-contra-o-sistema-metrico-estadunidense #conteudo-modal-contra-o-sistema-metrico-estadunidense p {
  color: var(--dracula-orchid);
  
  line-height: 1.5;
}

#formulario form label {
  color: var(--dracula-orchid);
  font-size: 150%;
  
  font-weight: bold;
}

#formulario form > div {
  margin: 24px 0 48px;
  
  align-items: center;
  display: flex;
}

#formulario form #input-dimensoes input {
  width: 37.5%;
}

#formulario form #input-dimensoes span {
  color: var(--dracula-orchid);
  font-size: 125%;
}

#formulario form #input-dimensoes select {
  background-color: white;
  width: 25%;

  color: var(--american-river);

  font-weight: bold;
}

#formulario form #input-quantidade input {
  width: 25%;
}

#formulario form #input-quantidade span {
  color: var(--american-river);
  font-size: 125%;

  font-weight: bold; 
}

#formulario form #input-piso {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

#formulario form #input-piso .input-tipo-piso {
  align-items: center;
  display: flex;

  margin-bottom: 24px;
}

#formulario form #input-piso .input-tipo-piso div {
  flex-direction: column;
  display: flex;
}

#formulario form #input-piso .input-tipo-piso input {
  width:  32px;
  height: 32px;

  margin-right: 16px;
}

#formulario form #input-piso .input-tipo-piso span {
  font-size: 125%;

  line-height: 1.15;
}

#formulario form #input-piso .input-tipo-piso .nome-piso {
  color: var(--dracula-orchid);
}

#formulario form #input-piso .input-tipo-piso .preco-piso {
  color: var(--american-river);
}

#formulario form #input-dimensoes > *:not(:last-child),
#formulario form #input-quantidade > *:not(:last-child) {
  margin-right: 16px;
}

#formulario form button {
  border: none;
  border-radius: 4px;
  background-color: var(--wonyous);
  
  width: 62.5%;
  height: 64px;

  font-family: 'Open Sans';
  color: white;
  font-size: 125%;

  font-weight: bold;

  cursor: pointer;
  opacity: .9;
}

#formulario form button:hover {
  opacity: 1;
}

#formulario form button:active {
  opacity: .75;
}

#formulario #previa {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

#formulario #previa #face {
  max-width: 100%;
  width:  256px;
  height: 256px;

  margin-bottom: 48px;
}

#formulario #previa #facada-atual {
  color: var(--dracula-orchid);

  font-weight: bold;
 
  display: flex;
  margin-bottom: 16px;
}

#formulario #previa #facada-atual #real {
  font-size: 200%;

  align-self: flex-end;

  position: relative;
  bottom: 4px;

  margin-right: 4px;
}

#formulario #previa #facada-atual #parte-inteira {
  font-size: 300%;
}

#formulario #previa #facada-atual #parte-fracionaria {
  font-size: 150%;

  position: relative;
  top: 4px;

  margin-left: 2px;
}

#formulario #previa #area-atual {
  color: var(--american-river);
  font-size: 175%;
  
  font-weight: bold;
}

#formulario #carrinho,
#formulario #status {
  margin-top: 64px;
}

#formulario #carrinho {
  width: 31.25%;
  
  margin-right: 64px;
}

#formulario #carrinho #cabecalho-carrinho,
#formulario #carrinho #cabecalho-carrinho div {
  align-items: center;
  display: flex;
}

#formulario #carrinho #cabecalho-carrinho {
  margin-bottom: 16px;
  
  justify-content: space-between;
  height: 64px;
  
  cursor: pointer;
}

#formulario #carrinho #cabecalho-carrinho svg {
  fill: var(--dracula-orchid);
}

#formulario #carrinho #cabecalho-carrinho #cart-shopping-solid {
  width:  32px;
  height: 32px;
  
  margin-right: 16px;
}

#formulario #carrinho #cabecalho-carrinho span {
  color: var(--dracula-orchid);
  font-size: 150%;
  
  font-weight: bold;
}

#formulario #carrinho #cabecalho-carrinho #angle-down-solid {
  width:  24px;
  height: 24px;

  transform: rotate(180deg);
}

#formulario #carrinho #corpo-carrinho {
  overflow-y: scroll;
  height: 512px;
}

#formulario #carrinho ::-webkit-scrollbar {
  width: 8px;
}

#formulario #carrinho ::-webkit-scrollbar-track {
  background-color: var(--lynx-white);
}

#formulario #carrinho ::-webkit-scrollbar-thumb {
  background-color: var(--soothing-breeze);
}

#formulario #carrinho ::-webkit-scrollbar-thumb:hover {
  background-color: var(--american-river);
}

#formulario #carrinho ::-webkit-scrollbar-track,
#formulario #carrinho ::-webkit-scrollbar-thumb {
  border-radius: 8px;

}

#formulario #carrinho #corpo-carrinho .compra {
  background-color: var(--clouds);
  border-radius: 8px;
  padding: 16px;
}

#formulario #carrinho #corpo-carrinho .compra:not(:last-child) {
  margin-bottom: 24px;
}

#formulario #carrinho #corpo-carrinho .compra .cabecalho-compra {
  justify-content: space-between;
  align-items: center;
  display: flex;

  margin-bottom: 8px;
}

#formulario #carrinho #corpo-carrinho .compra .cabecalho-compra span {
  color: var(--dracula-orchid);
  font-size: 125%;

  font-weight: bold;
}

#formulario #carrinho #corpo-carrinho .compra .cabecalho-compra .icone {
  width:  32px;
  height: 32px;

  justify-content: center;
  align-items: center;
  display: flex;

  cursor: pointer;
}

#formulario #carrinho #corpo-carrinho .compra .cabecalho-compra .icone .trash-solid {
  width:  24px;
  height: 24px;

  fill: var(--alizarin);
}

#formulario #carrinho #corpo-carrinho .compra .conteudo-compra {
  flex-direction: column;
  display: flex;
}

#formulario #carrinho #corpo-carrinho .compra .conteudo-compra span {
  color: var(--american-river);
  font-size: 100%;

  line-height: 1.75;
}

#formulario #status #cabecalho-status {
  margin-bottom: 16px;

  align-items: center;
  display: flex;
  height: 64px;
}

#formulario #status #cabecalho-status svg {
  width:  32px;
  height: 32px;
  
  margin-right: 16px;
}

#formulario #status #cabecalho-status #face-smile-solid {
  fill: var(--nephritis);
}

#formulario #status #cabecalho-status #face-frown-solid {
  display: none;
  fill: var(--alizarin);
}

#formulario #status #cabecalho-status span {
  color: var(--nephritis);
  font-size: 200%;

  font-weight: bold;
}

#formulario #status label {
  color: var(--dracula-orchid);
  font-size: 150%;
  
  font-weight: bold;
}

#formulario #status #input-orcamento {
  margin: 24px 0 48px;
  
  align-items: center;
  display: flex;
}

#formulario #status #input-orcamento span {
  color: var(--american-river);
  font-size: 125%;

  font-weight: bold; 

  margin-right: 16px;
}

#formulario #status #input-orcamento {
  width: 75%;
}

#formulario #status #batatinhas {
  flex-direction: column;
  display: flex;

  color: var(--dracula-orchid);
  font-size: 150%;

  word-break: break-all;
}

#formulario #status #batatinhas > * {
  margin-bottom: 24px;
}

@media only screen and (max-width: 1300px) {
  #formulario .colunas {
    flex-direction: column;
  }

  #formulario #modal-contra-o-sistema-metrico-estadunidense {
    width: 100%;
  }

  #formulario #modal-contra-o-sistema-metrico-estadunidense #conteudo-modal-contra-o-sistema-metrico-estadunidense #cabecalho-modal-contra-o-sistema-metrico-estadunidense span {
    font-size: 125%;
  }

  #formulario #modal-contra-o-sistema-metrico-estadunidense #conteudo-modal-contra-o-sistema-metrico-estadunidense p {
    font-size: 82.5%;
  }

  #formulario form #input-dimensoes {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #formulario form #input-dimensoes > *:not(:last-child) {
    margin-bottom: 16px;
    margin-right: 0;
  }

  #formulario form #input-dimensoes input {
    width: 43.75%;
  }

  #formulario form #input-dimensoes select,
  #formulario form #input-quantidade input,
  #formulario form button,
  #formulario #carrinho {
    width: 100%;
  }

  #formulario form button {
    font-size: 112.5%;
  }

  #formulario #previa {
    margin-top: 128px;
  }

  #formulario #previa #face {
    width:  192px;
    height: 192px;
  }

  #formulario #status #cabecalho-status {
    margin-bottom: 32px;
  }

  #formulario #status #input-orcamento {
    width: 100%;
  }

  #formulario #status #batatinhas {
    font-size: 112.5%;
  }
}