:root {
	/* defo */
	--nephritis: #27ae60;
	--alizarin: #e74c3c;
	--clouds: #ecf0f1;

	/* us */
	--city-lights: #dfe6e9;
	--soothing-breeze: #b2bec3;
	--american-river: #636e72;
	--dracula-orchid: #2d3436;
	
	/* fr */
	--flat-flesh: #fad390;
	--squash-blossom: #f6b93b;
	
	--brown: #a47551;
	--carafe: #523a28;
	--wonyous: #27aae1;
}